article {
    padding: 20px 0;
    line-height: 1.5;
}

.article-subtitle {
    line-height: 1.5;
    margin: 5px;
    font-size: 1.2em;
    font-style: italic;
}

.article-title {
    line-height: 1.5;
    margin: 5px;
}

body {
    font-family: 'Mulish';
    line-height: 1.6;
    color: #333;
    margin: 0;
}

code {
    background-color: #565656;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 0.85em;
}

.contact-container{
    text-align: center;
}

.container {
    width: 60%;
    margin: auto;
    overflow: hidden;
    background-color: #ffffff;
    padding: 0px 30px 30px 30px;
    /* min-height: calc(100vh - 110px); */
    /* height: auto;  */
    flex: 1;
}

.container a {
    color: #777;
    margin: 0;
}

.container a:hover {
    color: #aaa;
}

.create-time {
    color: #666;
    font-size: 0.8em;
    font-family: monospace;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0px 0px 0px;
    text-align: center;
}

.footer-column {
    flex: 20%;
    padding: 5px;
}

.footer-div {
    background-color: #dbdbdb;
    padding: 5px 0px 5px 0px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: monospace;
    font-size: smaller;
}

.footer-div a {
    color: #777;
    margin: 0;
}

.footer-div a:hover {
    color: #aaa;
}

.footer-row {
    display: flex;
    width: 80%;
    margin: auto;
}

h1, h2, h3, h4 {
    margin: 5px;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.icon {
    display: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #555;
}

.navbar {
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 8px 6px -5px rgba(190,190,190,.46);
    margin: 0;
}

.navbar-link {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 16px;
    margin: 0;
}

.navbar-link:hover {
    color: #777;
}

.navbar-home-link {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.navbar-home-link:hover {
    color: #777;
}

.nav-toggle {
    display: none;
}

ol {
    margin: 5px;
}

p {
    margin-bottom: 10px;
}

.post-heading {
    text-align: center;
    margin-top: 50px;
}

pre {
    background-color: #565656;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace; 
    padding: 10px 10px; 
    border: 1px solid #ccc; 
    border-radius: 6px;
    font-size: 0.9em; 
    overflow-x: auto;
}

.social-image {
    max-width: 30%;
    height: auto;
}

ul {
    margin: 5px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* @media only screen and (max-width: 600px) { */
@media screen and (max-width: 768px) {
    .container {
        width: 85%;
        /* min-height: calc(100vh - 215px); */
    }

    .navbar-link {
        float: none;
        display: block;
        text-align: right;
        display: none;
    }

    .icon {
        display: block;
        float: right;
        padding: 5px 15px;
    }

    .nav-toggle:checked ~ a {
        display: block;
    }
}
