<head>
<title>{% if title %}{{ title }} - {% endif %}piersaicken.com</title>
<link href="{{ protocol }}://{{ server_name }}/static/css/mulish-font.css" rel="stylesheet">
<link rel="stylesheet" href="{{ protocol }}://{{ server_name }}/static/css/style.css">
<link rel="shortcut icon" href="{{ protocol }}://{{ server_name }}/static/images/pafavicon.ico">
<meta charset="UTF-8">
{% if metatags -%}
{% for entry in metatags -%}
<meta name="{{ entry.name }}" content="{{ entry.content }}">
{% endfor -%}
{% endif -%}
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>