<div class="navbar">
<input type="checkbox" id="nav-toggle" class="nav-toggle">
<div class="page-title"><a class="active navbar-home-link" href="{{ protocol }}://{{ server_name }}/">Piers Aicken</a></div>
<a href="{{ protocol }}://{{ server_name }}/misc.html" class="navbar-link">Misc</a>
<a href="{{ protocol }}://{{ server_name }}/about.html" class="navbar-link">About</a>
<a href="{{ protocol }}://blog.{{ server_name }}/" class="navbar-link">Blog</a>
<label for="nav-toggle" class="icon">&#9776;</label>
</div>