<!doctype html>
<html>
{% include 'head_tags.html' %}
<body>
{% include 'navbar.html' %}
<div class="container">
<div class="post-heading">
{% if title %}<h1 class="article-title">{{ title }}</h1>{% endif -%}
{% if subtitle %}<div class="article-subtitle">{{ subtitle }}</div>{% endif -%}
{% if show_date -%}
<p class="create-time">Created: {{ created_at }}{% if updated_at %} (Updated: {{ updated_at }}){% endif %}</p>
{% endif -%}
</div>
